/* Blue Button */

a.mydatabutton-blue{
    background-color: #0039BF;

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.0, rgb(92,190,233)),
        color-stop(1.0, rgb(36,108,201))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(92,190,233) 0%,
        rgb(36,108,201) 100%
    );

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    border-bottom: 1px solid #002c83;
    border-left: 1px solid #00579e;
    border-right: 1px solid #01589e;
    border-top: 1px solid #35a4c5;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px 8px 12px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;

    display: inline-block;
}

a.mydatabutton-blue:active {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    position: relative;
    top: 1px;
}

a.mydatabutton-blue img{
    margin-right: 10px;
    vertical-align: middle;
}

/* Cancel Button */

a.mydatabutton-cancel{
    background-color: #fbfbfb;

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.0, rgb(255, 255, 255)),
        color-stop(1.0, rgb(232, 232, 232))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(255, 255, 255) 0%,
        rgb(232, 232, 232) 100%
    );

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    border-bottom: 1px solid #909090;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #9d9d9d;
    border-top: 1px solid #c2c2c2;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

    color: #555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px 8px 12px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;

    display: inline-block;
}

a.mydatabutton-cancel:active {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    position: relative;
    top: 1px;
}
